<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motors</title>
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <link rel="stylesheet" href="/css/button.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://ai-public.creatie.ai/gen_page/tailwind-custom.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.theme.min.css" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/glide.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.4.5?plugins=forms@0.5.7,typography@0.5.13,aspect-ratio@0.4.2,container-queries@0.1.1"></script>
    <script src="https://ai-public.creatie.ai/gen_page/tailwind-config.min.js" data-color="#000000" data-border-radius="small"></script>

    <link href="/css/Common.css" rel="stylesheet">
    <link href="/css/category-product.css" rel="stylesheet">
</head>
<body class="font-['Poppins'] bg-gray-50">
<header th:replace="~{fragments/nav :: navPage}"></header>
<section class="py-20 bg-white">
    <div class="max-w-8xl mx-auto px-6">
        <h2  class="text-4xl font-['Playfair_Display'] text-center mb-16" th:text="${category.name}">Modelos Destacados</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div th:each="product : ${products}" class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img th:src="${product.imageurl}" th:alt="${product.name}" class="w-full h-64 object-cover">
                <div class="p-6">
                    <h3 class="text-xl font-semibold mb-2" th:text="${product.name}"></h3>
                    <p class="text-gray-600 mb-4">
                        <span th:text="${product.description}"></span>
                    </p>
                    <p class="text-gray-600 mb-4">
                        Desde <span th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}"></span>€
                    </p>
                    <a th:href="@{|/categories/product/${product.id}|}"
                       class="!rounded-button w-full bg-custom text-white py-2 hover:bg-gray-800 px-8">
                        Ver Detalles
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{fragments/footer :: footerPage}"></footer>
<script src="/JavaScript.js"></script>
</body>
</html>