<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: headPage('Crear Producto','/css/form.css')}">
  <meta charset="UTF-8">
  <title>Crear un nuevo producto</title>
</head>
<body class="bg-gray-50 font-['Poppins']">
<header th:replace="~{/fragments/nav :: navPage}" class="mb-10"></header>
  <main class="max-w-4xl mx-auto mt-40 mb-20">
    <h1 class="text-2xl font-bold text-gray-900 mb-6 text-center">Crear un nuevo producto</h1>
    <form method="post" th:object="${product}" class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
      <div class="mb-4">
        <label for="txt-name" class="block text-gray-600 text-sm font-bold mb-2">Nombre:</label>
        <input type="text" id="txt-name" th:field="*{name}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-imageurl" class="block text-gray-600 text-sm font-bold mb-2">URL de la Imagen:</label>
        <input type="text" id="txt-imageurl" th:field="*{imageurl}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-description" class="block text-gray-600 text-sm font-bold mb-2">Descripción:</label>
        <textarea id="txt-description" th:field="*{description}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      </div>
      <div class="mb-4">
        <label for="txt-price" class="block text-gray-600 text-sm font-bold mb-2">Precio (€):</label>
        <input type="number" id="txt-price" th:field="*{price}" step="0.01" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-stock" class="block text-gray-600 text-sm font-bold mb-2">Stock:</label>
        <input type="number" id="txt-stock" th:field="*{stock}" min="0" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-manufacture" class="block text-gray-600 text-sm font-bold mb-2">Fabricante:</label>
        <input type="text" id="txt-manufacture" th:field="*{manufacture}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-motor" class="block text-gray-600 text-sm font-bold mb-2">Motor:</label>
        <input type="text" id="txt-motor" th:field="*{motor}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-hp" class="block text-gray-600 text-sm font-bold mb-2">Potencia (HP):</label>
        <input type="number" id="txt-hp" th:field="*{hp}" min="0" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="txt-maxVelocity" class="block text-gray-600 text-sm font-bold mb-2">Velocidad Máxima (km/h):</label>
        <input type="number" id="txt-maxVelocity" th:field="*{maxVelocity}" min="0" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="sel-category" class="block text-gray-600 text-sm font-bold mb-2">Categoría:</label>
        <select id="sel-category" th:field="*{category}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option value="" disabled selected>-- Seleccione una categoría --</option>
          <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Aceptar
        </button>
      </div>
    </form>
  </main>
<footer th:replace="~{/fragments/footer :: footerPage}" class="mt-10"></footer>
</body>
</html>