<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: headPage(${product.name} + ' - Ryze Cars','/css/product.css')}">

</head>
<body class="font-['Poppins']  bg-gray-50">
<header th:replace="~{fragments/nav :: navPage}"></header>
<main>
  <div class="relative">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <img th:src="${product.imageurl}" alt="Porsche 911 GT3" class="w-full h-[800px] object-cover">
          </li>
        </ul>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
      </div>
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <div class="text-center mb-16">
      <h1 th:text="${product.name}" class="text-4xl font-bold text-gray-900 mb-4 font-playfair"></h1>
      <p th:text="${product.description}" class="text-xl text-gray-600 max-w-3xl mx-auto">La máxima expresión del rendimiento deportivo</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mb-16">
      <div>
        <h2 class="text-2xl font-bold text-gray-900 mb-6">Especificaciones Técnicas</h2>
        <div class="space-y-4">
          <div class="flex items-center">
            <i class="fa-solid fa-car text-custom w-8"></i>
            <span th:text="'Motor: ' + ${product.motor}"></span>
          </div>
          <div class="flex items-center">
            <i class="fas fa-horse-head text-custom w-8"></i>
            <span th:text="'Potencia: ' + ${product.hp} + ' CV'"></span>
          </div>
          <div class="flex items-center">
            <i class="fas fa-gauge-high text-custom w-8"></i>
            <span th:text="'Velocidad Maxima: ' + ${product.maxVelocity} + ' km/h'"></span>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-bold text-gray-900 mb-6">Precio y Financiación</h2>
        <div class="bg-white p-8 rounded-lg shadow-sm border border-gray-200">
          <div th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')} + '€'" class="text-4xl font-bold text-custom mb-4"></div>
          <p class="text-gray-600 mb-6">Precio base sin opcionales</p>

            <a th:href="@{/shoppingCart/add(productId=${product.id}, returnurl=${'/categories/product/' + product.id})}" class="CartBtn">
    <span class="IconContainer">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" class="cart">
        <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
      </svg>
    </span>
              <p class="text">Add to Cart</p>
            </a>


        </div>
      </div>
    </div>
    <div class="mb-8">
      <h2 class="text-3xl font-bold text-gray-900 mb-4 text-center">Opiniones de Clientes</h2>
      <div th:if="${ratings.isEmpty()}" class="text-center">
        <p class="text-gray-500 italic py-3">No hay reseñas para este producto.</p>
      </div>
      <div th:if="${ratings != null and !ratings.isEmpty()}">
        <div class="flex flex-col items-center" >
          <div class="text-gray-800 py-1 font-bold text-2xl">
            <h2 th:text="${#numbers.formatDecimal(averageRating, 1, 1)} + ' / 5'"></h2>
          </div>
          <div class="text-yellow-400 mb-4 items-center text-2xl mb-4">
            <span th:each="i : ${#numbers.sequence(1, averageRating.intValue())}">
                <i class="fas fa-star"></i>
            </span>
            <span th:if="${averageRating - averageRating.intValue() >= 0.5}">
                <i class="fas fa-star-half-alt"></i>
            </span>
            <span th:each="i : ${#numbers.sequence(1, 5 - averageRating.intValue() - (averageRating - averageRating.intValue() >= 0.5 ? 1 : 0))}"
                  th:if="${averageRating < 5}">
                <i class="far fa-star"></i>
            </span>
          </div>
        </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div th:each="rating : ${ratings}" class="bg-white p-6 rounded-lg shadow-sm border border-gray-200">
          <div class="text-yellow-400 flex">
            <span th:each="i : ${#numbers.sequence(1, T(java.lang.Math).min(rating.rating.intValue(), 5))}">
              <i class="fas fa-star"></i>
            </span>
            <span th:if="${rating.rating.intValue() < rating.rating and rating.rating < 5}">
              <i class="fas fa-star-half-alt"></i>
            </span>
          </div>
          <p class="text-gray-600 mb-4 py-2 h-24 overflow-y-auto text-ellipsis" th:text="${rating.comment}"></p>
          <div class="font-medium text-gray-900" th:text="${rating.name}"></div>
          <div class="font-small text-gray-900" th:text="${#dates.format(rating.date, 'dd/MM/yyyy')}"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
<footer th:replace="~{fragments/footer :: footerPage}"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/glide.min.js"></script>
<script>
  new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 1,
    autoplay: 5000
  }).mount();
</script>
<script src="/JavaScript.js"></script>
</body>
</html>