<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: headPage('Products','')}">


</head>
<body class="font-['Poppins'] bg-gray-50">
<header th:replace="~{/fragments/nav :: navPage}"></header>
<section class="py-20 bg-white">
    <div class="max-w-8xl mx-auto px-6">
        <!-- Título principal -->
        <h2 class="text-4xl font-['Playfair_Display'] text-center mt-16 mb-16" >Productos</h2>

        <!-- Contenedor de categorías -->
        <div class="space-y-12">
            <!-- Iterar por cada categoría -->
            <div th:each="category : ${categories}" class="bg-white rounded-lg shadow-lg overflow-hidden">
                <!-- Nombre de la categoría -->
                <div class="p-6">
                    <h2 class="text-3xl font-semibold mb-6" th:text="${category.name}">Nombre de la Categoría</h2>
                </div>
                <!-- Contenedor de productos -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 p-6">
                    <!-- Iterar por cada producto dentro de la categoría -->
                    <div th:each="product : ${category.products}" class="bg-gray-100 rounded-lg shadow-md overflow-hidden">
                        <img
                                th:src="${product.imageurl}"
                                alt="imagen de [[${product.name}]]"
                                class="w-full h-48 object-cover"
                        >
                        <div class="p-4 flex flex-col">
                            <h3 class="text-xl font-semibold mb-2" th:text="${product.name}">Nombre del Producto</h3>
                            <p class="text-gray-600 mb-4" th:text="${product.description}">Descripción</p>
                            <a th:href="@{|/categories/product/${product.id}|}"
                               class="bg-black text-white py-2 hover:bg-gray-800 text-center rounded mt-auto">
                                Ver Detalles
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a th:href="@{/admin/products}">Ir a admin productos</a>
    </div>
</section>

<footer th:replace="~{/fragments/footer :: footerPage}"></footer>
</body>
</html>