html {
    scroll-behavior: smooth;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.box {
    position: relative;
}

.input {
    padding: 5px; /* Reducido a la mitad */
    width: 40px; /* Reducido a la mitad */
    height: 40px; /* Reducido a la mitad */
    background: none;
    border: 2px solid #ffb136; /* Reducido a la mitad */
    border-radius: 50px;
    font-size: 13px; /* Reducido a la mitad */
    color: #ffb136;
    transition: 0.5s;
}

.box:hover .input {
    width: 175px; /* Reducido a la mitad */
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 7.5px; /* Reducido a la mitad */
    transform: translate(-50%, -50%);
    font-size: 13px; /* Reducido a la mitad */
    color: #ffb136;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

.dropdown-content {
    display: block;
    position: absolute;
    top: 100%; /* Debajo del elemento principal */
    left: 0;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Oculto por defecto */
    transform: translateY(-10px); /* Empieza un poco arriba */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Transición suave */
    pointer-events: none; /* No interactuable cuando está oculto */
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; /* Suavizamos el hover */
}

.dropdown-content a:hover {
    background-color: #000;
    color: #fff;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover { /* Aparece al pasar el ratón */
    opacity: 1; /* Se hace visible */
    transform: translateY(0); /* Se posiciona en su lugar */
    pointer-events: auto; /* Activa la interacción */
}

#dropdown {
    background: white;
    position: absolute;
    z-index: 1000;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

#dropdown div {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

#dropdown div:hover {
    background-color: black;
    color: white;
}
